body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
}
.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    filter: grayscale(100%);
}
.logo {
    width: 150px;
    margin-bottom: 20px;
}

img.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #666;
}
.contact-info {
    margin-top: 10px;
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    text-decoration: none;
    background: linear-gradient(45deg, #0077b5, #00a0dc); 
    border-radius: 25px; 
    font-weight: bold;
    transition: transform 0.3s ease, background 0.3s ease;
    border: none;
    cursor: pointer;
    color: #333; /* Dark grey text */
}

.btn:hover {
    background: linear-gradient(45deg, #005f8b, #0077b5); 
    transform: translateY(-2px);
    color: #333; /* Ensuring text color remains dark grey on hover */
}
